@charset "UTF-8";

/*:root{

#5E3584 
#4C8F99


}
*/

@media  screen and (min-width:600px) and (max-width:1100px){
    
    body{
        background-image: linear-gradient(to top, #5E3584 ,#4C8F99);

    


    }
    
    
    
    section#login {
        width: 80%;
        height: 300px;
    }

    section#login >div#imagem{
        float:left;
        width:30%;
        height: 100%;
    }
    
    section#login > div#formulario {
        float:right;
        width: 70%;
    }
}


@media screen and (min-width:1101px) {
    body{
        background-image: linear-gradient(to top, #5E3584 ,#4C8F99);


    }
    
    
    section#login{
        width: 90%;
        height: 400px;

    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }


    section#login > div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size:1.2em;
        
    }
}